version: "3.8"

networks:

    default:
        name: local

services:

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.16.2
        environment:
            discovery.type: single-node
        volumes:
            - elasticsearch:/usr/share/elasticsearch/data
        ports:
            - 9200 # API
            - 9300 # Cluster communication

    kibana:
        image: docker.elastic.co/kibana/kibana-oss:7.16.2
        depends_on:
            - elasticsearch
        volumes:
            - kibana:/usr/share/kibana/data
        ports:
            - 5601 # Web interface

volumes:

    elasticsearch:

    kibana:
