version: "3.8"

networks:

    default:
        name: local

services:

    mysql:
        image: mysql:8
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - mysql:/var/lib/mysql
        ports:
            - 3306 # Protocol

volumes:

    mysql:
