version: "3.8"

networks:

    default:
        name: local

services:

    rabbitmq:
        image: rabbitmq:3-management
        volumes:
            - rabbitmq:/var/lib/rabbitmq
        ports:
            - 5672 # Protocol
            - 15672 # Web interface

volumes:

    rabbitmq:
