[init]
	defaultBranch = main

[user]
	name = Renê Lima
	email = renedelima@gmail.com

[core]
	editor = vim

[rerere]
	enabled = true

[merge]
	conflictStyle = diff3

[pull]
	ff = only

[alias]
	f = fetch --all
	s = status -sb
	p = push --force-with-lease
